.services-section {
  justify-content: space-between;
  font-size: 25px;
  font-weight: lighter;
  .description {
    width: 100%;
    margin-right: 50px;
    line-height: 145%;
  }
  .hashtags {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    &__item {
      background: rgba(178, 20, 20, 0.5);
      border-radius: 30px;
      padding: 10px 16px;
      margin: 0 15px 15px 0;
    }
  }
  @media (max-width: 1200px) {
    font-size: 22px;
    .description {
      width: 150%;
    }
  }
  @media (max-width: 991px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .description {
      width: 100%;
      margin-bottom: 20px;
    }
    .hashtags__item {
      padding: 5px 8px;
    }
  }
  @media (max-width: 576px) {
    font-size: 14px;
  }
}
